<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no,viewport-fit=cover">
    <title>订单详情</title>
    <link rel="stylesheet" href="/common/css/reset.css">
    <link rel="stylesheet" href="/signin/css/success.css">
</head>
<body>
<div id="app">
    <!--提交成功-->
    <div>
        <div v-cloak class="tip" v-if="pay_active=='true'">
            <p>支付成功！</p>
            <div  v-cloak >
                <span v-if="num !=0">已经成功为您支持的一方增加{{num}}票</span>
            </div>
        </div>
        <div class="content">
            <p class="num" v-cloak>订单编号：{{out_trade_no2}}</p>
            <div class="pro-info">
                <div class="clearfix">
                    <div class="pro-img">
                        <img :src="product_img" alt="">
                    </div>
                    <div class="pro-right">
                    <span v-cloak>{{product_desc}}</span>
                        <div>
                            <p v-cloak>{{price}}元</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn" @click="orderCancel" v-cloak :class="{ order_cancel : trade_pay_status != 1}">{{product_tips}}</div>
    </div>
    <div class="mask" v-cloak v-show="!order_active">
        <div class="alert_tips2">
            <p>{{tips2}}</p>
            <div class="end-btn" @click="confirm">确认</div>
        </div>
    </div>
</div>
<script src="/common/js/vue.js"></script>
<script src="/common/js/axios.min.js"></script>
<script src="/common/js/jweixin-1.2.0.js"></script>
<script src="/common/js/common.js"></script>
<script src="/signin/js/success.js"></script>
</body>
</html>