#enroll{
    width: 750px;
    height: 100%;
    margin: 0 auto;
    background: #e8e9e9;
}
.changeheight{
    overflow: hidden;
    height: 100% !important;
}
#enroll .fill-wrapper{
    border-top: 20px solid #e8e9e9;
    width: 100%;
    /*padding-bottom: 48px;*/
    background: #ffffff;
}
.repeat-tips{
    color:red;
    font-size: 28px;
    position: relative;
    text-align: center;
    display: block;
    top: 24px;
}
img{
    background: #e8e9e9;
}
#enroll .fill-wrapper .fill-content{
    box-sizing: border-box;
    padding: 0 25px;
    width: 100%;
    height: 167px;
    border-bottom: 2px solid #e8e9e9;
}
#enroll .fill-wrapper .fill-content .content-line{
    position: relative;
    width: 100%;
    height: 77px;
    border-bottom: 2px solid #e8e9e9;
}
#enroll .fill-wrapper .fill-content .content-line:last-child{
    border-bottom: none;
}
#enroll .fill-content .content-line >label{
    display: inline-block;
    font-size: 26px;
    line-height: 77px;
    width: 130px;
}
.content-line>span{
    margin-left: 50px;
    width: calc(100% - 400px);
    font-size: 26px;
    color: #74736D;

}
.content-line .icon-select{
    position: absolute;
    right: -41px;
    bottom: 28px;
    display: block;
    width: 21px;
    height: 21px;
    background: url(/images/back-icon.png) no-repeat;
}
.txtright{
    text-align: right;
}
select {
    direction: rtl;
}
.selects{
    position: relative;
    display: inline-block;
    text-align: right;
    float: right;
    height: 78px;
    margin-right: 40px;
    width: 328px;
}
select{
    border: none;
    outline: none;
    width: 100%;
    height: 78px;
    line-height: 78px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 60px;
    font-size: 26px;
    text-align: center;
}
select{
    width: 100%;
    padding: 0 2%;

}
option{
    text-align:center;
}
.tips{
    position: absolute;
    right: 0px;
    bottom: 0;
    line-height: 79px;
    font-size: 22px !important;
    color: red !important;
}
#enroll .fill-content .content-line >input{
    margin-left: 50px;
    width: calc(100% - 400px);
    font-size: 26px;
    border: none;
    /*background-color: transparent;*/
    outline: none;
    text-indent: 0;
}
#enroll .fill-state .fill-btn{
    margin: 48px auto;
    text-align: center;
    line-height: 74px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 10px;
    width: 300px;
    height: 74px;
    background: #e33021;
}
#enroll .fill-state .creat-success{
    margin:0 auto;
    padding: 48px 0;
    text-align: center;
    line-height: 74px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #E43021;
    background: #e8e9e9;
    height: 74px;
}
#enroll .fill-state .forward-tips{
    /*text-align: center;*/
    font-size: 30px;
    line-height: 58px;
    padding: 30px 0 30px 90px;
    border-bottom: 20px solid #e8e9e9;
}
#enroll .fill-state{
    overflow: hidden;
}
#enroll .fill-state .forward-tips .add-btn{
    margin: 20px 124px;
    text-align: center;
    line-height: 74px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 10px;
    width: 300px;
    height: 74px;
    background: #e33021;
}
#enroll .fill-sucess{
    position: absolute;
    left: 50%;
    margin-left: -93px;
    top: 25px;
    margin-top: 28px;
    line-height: 74px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #e33021;
}
.enroll-wrapper{
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
#enroll .enroll-wrap:first-child{
    margin-top: 130px;
}
#enroll .enroll-wrap:last-child{
    margin-top: 160px;
}
#enroll .enroll-wrap .enroll-btn{
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
    font-size: 40px;
    color: #ffffff;
    border-radius: 10px;
    width: 300px;
    height: 110px;
    background: #e33021;
}


.min-act-content{
    padding: 12px 25px;
    box-sizing: border-box;
    background: #ffffff;
    border-bottom: 2px solid #e8e9e9;
}
.min-activity-img{
    width: 129px;
    height: 112px;
    float: left;
}
.desc-wrap{
    float: left;
    padding: 0 35px;
}
.desc-wrap p{
    width: 565px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    color: #999999;
    line-height: 59px;
}
.min-tit{
    font-size: 32px;
    color: #333333;
}
.enter-icon{
    float: right;
    margin-top:42px;
    width: 28px;
    height: 34px;
    background: url("/images/icon-more.png") no-repeat;
    background-size: cover;
}
.isRegistered{
    width: 100%;
    height: 70px;
    background: #e8e9e9;
    padding: 0 25px;
    box-sizing: border-box;
    line-height: 70px;
    font-size: 32px;
}
.list-wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
}
/*.yo-scroll .inner .pull-refresh{*/
     /*height:0 !important;*/
/*}*/
/*.yo-scroll .inner{*/
     /*position: static !important;*/
/*}*/
/*.yo-scroll{*/
    /*position: static !important;*/
/*}*/
#enroll .enroll-wrap p{
    margin-top: 30px;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    height: auto;
}




#perInfo{
    margin: 0 auto;
    width: 750px;
    height: auto;
}
#perInfo .match-wrapper{
    overflow: hidden;
    border-bottom: 20px solid #e8e9e9;
    width: 100%;
}
#perInfo .match-wrapper .match-header{
    overflow: hidden;
    font-size: 28px;
    box-sizing: border-box;
    padding: 0 25px;
    height: 76px;
    border-bottom: 2px solid #e8e9e9;
}
#perInfo .match-wrapper .match-header>p{
    margin-top: 24px;
    border-left: 4px solid #e33021;
    padding-left: 10px;
    height: 28px;
}
#perInfo .match-wrapper .match-wrap{
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 25px;
}
#perInfo .match-wrapper .match-wrap .match-desc{
    font-size: 28px;
    line-height: 76px;
    border-bottom: 2px solid #e8e9e9;
}
#perInfo .match-wrapper .match-wrap .match-desc:last-child{
    border-bottom: none;
}
#perInfo .match-wrapper .match-wrap .match-desc>span{
    display: inline-block;
    float: right;
    padding-right: 40px;
    height: 78px;
}
#perInfo .match-wrapper .match-wrap .match-desc >i{
    font-style: normal;
    padding-right: 10px;
    color: #e33021;
    width: 10px;
    height: 10px;
    display: inline-block;
}
input{
    padding-left: 0;
    width: 250px;
    font-size: 26px;
    border: none;
    background-color: transparent;
    outline: none;
}
#perInfo input::-webkit-input-placeholder
{
    text-align: right;
}
#perInfo .match-desc span .select{
    float: left;
    text-align: center;
    line-height: 54px;
    font-size: 28px;
    color: #333333;
    margin-top: 12px;
    margin-left: 10px;
    width: 110px;
    height: 54px;
    border-radius: 10px;
}
.sexbg{
    color: #ffffff !important;
    background: #e33021;
}
#perInfo .match-desc .icon-pos{
    position: relative;
}
#perInfo .match-desc >span >i{
    position: absolute;
    right: 0;
    bottom: 28px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(/images/back-icon.png) no-repeat;
}
#perInfo .match-wrapper .match-wrap .upload-enc{
    line-height: 120px;
    height: 120px;
    position: relative;
}
#perInfo .match-wrapper .upload-enc .upload-icon{
    position: absolute;
    top: 50%;
    left: 210px;
    margin-top: -30px;
    background: url("/images/icon-upload.png") no-repeat;
    width: 80px;
    height: 60px;
}
/*#perInfo .match-wrapper{*/
    /*border-bottom: none;*/
/*}*/
#perInfo .perInfo-title{
    line-height: 77px;
    background: #e8e9e9;
    font-size: 28px;
    padding: 0 25px;
}
#perInfo .service-select-wrapper{
    padding: 45px 45px;
}
#perInfo .service-select-wrapper .service-select-wrap{
    width: 100%;
    min-height: 80px;
}
#perInfo .service-select-wrapper .service-select-wrap .select-icon-wrap{
    float: left;
    border: 2px solid #e33021;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    position: relative;
    top: 3px;
}
#perInfo .service-select-wrapper .service-select-wrap>span{
    float: left;
    padding-left: 15px;
    font-size: 26px;
}
#perInfo .service-select-wrapper .service-select-wrap .ex{
    font-size: 22px;
    color: #e33021;
    text-decoration: underline;
}
.service-desc{
    width: 350px;
    line-height: 30px;
}
#perInfo .service-select-wrapper .desc{
    font-size: 28px;
    margin-left: 26px;
    margin-top: 31px;
}
#perInfo .statement-title{
    font-size: 28px;
    line-height: 70px;
    padding: 0 25px;
    background: #e8e9e9;
}
#perInfo .stat-wrap{
    box-sizing: border-box;
    padding: 0 25px;
    width: 100%;
    height: 104px;
}
#perInfo .stat-wrap span{
    font-size: 28px;
    line-height: 100px;
}
#perInfo .stat-wrap span i{
    color: #e33021;
}
#perInfo .stat-wrap p{
    font-size: 28px;
    line-height: 104px;
}
#perInfo .stat-wrap p i{
    color: #e33021;
}
#perInfo .tips-wrap{
    height: 258px;
    background: #e8e9e9;
}
#perInfo .tips-wrap>span:last-child{
    line-height: 40px;
}
.graycolor{
    color: #666666;
}
#perInfo .cost-wrap{
    box-sizing: border-box;
    padding: 0 25px;
    border-top: 1px solid #cdcdcd;
    width: 100%;
    height: 98px;
}
#perInfo .cost-wrap span{
    font-size: 26px;
    line-height: 98px;
    color: #e33021;
    float: left;
}
.nodate-tips{
    text-align: center;
    line-height: 100px;
    font-size: 26px;
    color: #999999;
    width: 100%;
    height: 100px;
    /*background: #ffffff;*/
}
.minetips{
    margin: 200px auto;
}
#perInfo .cost-wrap div{
    float: right;
    text-align: center;
    line-height: 72px;
    font-size: 32px;
    margin-top: 13px;
    border-radius: 10px;
    background: #e33021;
    color: #ffffff;
    width: 298px;
    height: 72px;
}
.switch {
    float: right;
    margin-top: 25px;
    width: 108px;
    height: 55px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 30px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}
.switch:before {
    content: '';
    width: 54px;
    height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 32px inset;
    background-color: #64bd63;
}
.switch:checked:before {
    left: 60px;
}
.switch.switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.switch.switch-anim:before {
    transition: left 0.3s;
}
.switch.switch-anim:checked {
    box-shadow: #64bd63 0 0 0 32px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.switch.switch-anim:checked:before {
    transition: left 0.3s;
}
.check-icon{
    display: block;
    width: 100%;
    height: 100%;
    background: url("/images/icon-check.png");
}

.alert_tips{
    width: 350px;
    height: 70px;
    background: rgba(0,0,0,.9);
    margin-left: -175px;
    position: fixed;
    border-radius: 21px;
    color: #fff;
    left: 50%;
    font-size: 28px;
    bottom: 120px;
    text-align: center;
    line-height: 70px;
    opacity: 0;
}
.alert_sport{
    animation:move 2s;
    -moz-animation:move 2s; /* Firefox */
    -webkit-animation:move 2s; /* Safari and Chrome */
    -o-animation:move 2s; /* Opera */
}
@keyframes move
{
    0%{
        bottom:0px;
        opacity: 0;

    }
    30%{
        bottom:120px;
        opacity: 1;
    }
    100%{
        bottom:120px;
        opacity: 1;
    }
}
